@model AdventureWorksPhotos.Models.Fotos

@{
    ViewBag.Title = "Delete";
    string imageBase64 = Convert.ToBase64String(Model.RutaArchivo);
    string imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64);
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fotos</h4>
    <hr />
    <dl class="dl-horizontal">
        <!-- Campo IdUsuario oculto, si es necesario -->
        @Html.HiddenFor(model => model.IdUsuario)

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutaArchivo)
        </dt>

        <dd>
            <img src="@imageDataURL" alt="Foto" style="max-width: 200px; max-height: 200px;" />
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-primary" /> |
    @Html.ActionLink("Regresar", "Details", new { id = Model.IdFoto })
</div>
    }
</div>
