@model IEnumerable<AdventureWorksPhotos.Models.Fotos>
@{
    ViewBag.Title = "Galeria";
}
<h2>Galeria</h2>

<div class="galeria-container">
    @foreach (var foto in Model)
    {
        <div class="foto-container">
            <img src="@Url.Action("GetImage", new { id = foto.IdFoto })" alt="@foto.Titulo" />
            <h3>@foto.Titulo</h3>
            <p>@foto.Descripcion</p>
            <p>
                @Html.ActionLink("Detalles", "Details", new { id = foto.IdFoto })
            </p>
        </div>
    }
</div>
